.box {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}

.box::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    91deg,
    rgba(72, 154, 78, 1) 5.2%,
    rgba(251, 206, 70, 1) 95.9%
  );
  inset: 0 80px;
  transition: 0.5s;
  animation: borderCircle 4s linear infinite;
}
@keyframes borderCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box:hover::before {
  inset: 0 0;
}

.box::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #1a052b;
  border-radius: 50%;
  z-index: 1;
}

.card {
  position: absolute;
  inset: 15px;
  border: 6px solid white;
  border-radius: 50%;
  z-index: 3;
  perspective: 800px;
}

.image-front,
.image-back {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  transition: 0.5s linear;
}

.image-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.image-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}


/* normal Position */

.image-front{
    transform: rotateY(0deg);
}

.image-back{
    transform: rotateY(-180deg);
}

.box:hover .image-front{
    transform: rotateY(180deg);
}

.box:hover .image-back{
    transform: rotateY(0deg);
}